<div class="main">
    <div class="map">
        <div class="row">
            <div class = "node hide">

            </div>
            <div class = "node" *ngIf = "!iplace1 && !dplace1">
                Lachulung La
            </div>
            <div class = "node infil" *ngIf = "iplace1">
                Lachulung La
            </div>
            <div class = "node desired" *ngIf = "dplace1">
                Lachulung La
            </div>
            <div class = "line" style = "top: 16.5%; left: 24.75%">

            </div>
            <div class = "node" *ngIf = "!iplace2 && !dplace2">
                Sia La
            </div>
            <div class = "node infil" *ngIf = "iplace2">
                Sia La
            </div>
            <div class = "node desired" *ngIf = "dplace2">
                Sia La
            </div>
            <div class = "line lineslant lineslanto" style = "top: 16.5%; left: 41.25%;">

            </div>
            <div class = "line lineslant lineslanto" style = "top: 16.5%; left: 74.25%;">

            </div>
            <div class = "node hide">
                Tanglang La
            </div>
            <div class = "node" *ngIf = "!iplace3 && !dplace3">
                Tanglang La
            </div>
            <div class = "node infil" *ngIf = "iplace3">
                Tanglang La
            </div>
            <div class = "node desired" *ngIf = "dplace3">
                
            </div>
            <div class = "node hide">
                
            </div>
        </div>
        <div class="row">
            <div class = "node" *ngIf = "!iplace4 && !dplace4">
                Khardung La
            </div>
            <div class = "node infil" *ngIf = "iplace4">
                Khardung La
            </div>
            <div class = "node desired" *ngIf = "dplace4">
                Khardung La
            </div>
            <div class = "line lineslant lineslanto" style = "top: 50%; left: 8.25%;">

            </div>
            <div class = "line lineslant" style = "top: 50%; left: 8.25%;">

            </div>
            <div class = "line" style = "top: 50%; left: 8.25%">
                
            </div>
            <div class = "node" *ngIf = "!iplace5 && !dplace5">
                Sasser Pass
            </div>
            <div class = "node infil" *ngIf = "iplace5">
                Sasser Pass
            </div>
            <div class = "node desired" *ngIf = "dplace5">
                Sasser Pass
            </div>
            <div class = "line lineslant" style = "top: 50%; left: 24.75%;">

            </div>
            <div class = "line" style = "top: 50%; left: 24.75%">

            </div>
            <div class = "node" *ngIf = "!iplace6 && !dplace6">
                Zoji La
            </div>
            <div class = "node infil" *ngIf = "iplace6">
                Zoji La
            </div>
            <div class = "node desired" *ngIf = "dplace6">
                Zoji La
            </div>
            
            <div class = "node" *ngIf = "!iplace7 && !dplace7"> 
                Rezang La
            </div>
            <div class = "node infil" *ngIf = "iplace7">
                Rezang La
            </div>
            <div class = "node desired" *ngIf = "dplace7">
                Rezang La
            </div>
            <div class = "line lineslant" style = "top: 50%; left: 57.75%;">

            </div>
            <div class = "line lineslant lineslanto" style = "top: 50%; left: 57.75%;">

            </div>
            <div class = "node hide">
                
            </div>
            <div class = "node" *ngIf = "!iplace8 && !dplace8">
                Marsimik La
            </div>
            <div class = "node infil" *ngIf = "iplace8">
                Marsimik La
            </div>
            <div class = "node desired" *ngIf = "dplace8">
                Marsimik La
            </div>
        </div>
        <div class="row">
            <div class = "node hide">

            </div>
            <div class = "node" *ngIf = "!iplace9 && !dplace9">
                Gyong La
            </div>
            <div class = "node infil" *ngIf = "iplace9">
                Gyong La
            </div>
            <div class = "node desired" *ngIf = "dplace9">
                Gyong La
            </div>
            <div class = "line lineslant" style = "top: 83%; left: 24.75%;">

            </div>
            <div class = "line" style = "top: 83%; left: 24.75%">

            </div>
            <div class = "node" *ngIf = "!iplace10 && !dplace10">
                Indira Col
            </div>
            <div class = "node infil" *ngIf = "iplace10">
                Indira Col
            </div>
            <div class = "node desired" *ngIf = "dplace10">
                Indira Col
            </div>
            <div class = "line lineslant" style = "top: 83%; left: 41.25%;">

            </div>
            <div class = "node hide">
                
            </div>
            <div class = "node" *ngIf = "!iplace11 && !dplace11">
                Eemsi La
            </div>
            <div class = "node infil" *ngIf = "iplace11">
                Eemsi La
            </div>
            <div class = "node desired" *ngIf = "dplace11">
                Pemsi La
            </div>
            <div class = "line lineslant" style = "top: 83%; left: 74.25%;">

            </div>
            <div class = "node hide">
                
            </div>
        </div>
        <div class = "marker" style="top: 4%; left: 24.75%;" *ngIf = "dplace1">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class = "marker" style="top: 4%; left: 40%;" *ngIf = "dplace2">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class = "marker" style="top: 4%; left: 73%;" *ngIf = "dplace3">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class = "marker" style="top: 37%; left: 8.25%;" *ngIf = "dplace4">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class = "marker" style="top: 37%; left: 24%;" *ngIf = "dplace5">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class = "marker" style="top: 37%; left: 40%;" *ngIf = "dplace6">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class = "marker" style="top: 37%; left: 56%;" *ngIf = "dplace7">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class = "marker" style="top: 37%; left: 88%;" *ngIf = "dplace8">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class = "marker" style="top: 70%; left: 24.74%;" *ngIf = "dplace9">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class = "marker" style="top: 70%; left: 40%;" *ngIf = "dplace10">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <div class = "marker" style="top: 70%; left: 73%;" *ngIf = "dplace11">
            <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
    </div>
</div>